<!-- {% load static %} -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- filter orders -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- filter date -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- needed for dataTales-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script> 

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.chkbox').click(function(){
                var txt="";
                $('.chkbox:checked').each(function(){
                    txt+=$(this).val()+","
                });
                txt=txt.substring(0,txt.length-1);
                $('#chktext').val(txt);
            });
            $('#confirmed').click(function()
            {
              alert("Orders Submitted sucessfully")
            });
            
        });
    </script> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $('.chkbox2').click(function(){
                var txt2="";
                $('.chkbox2:checked').each(function(){
                    txt2+=$(this). val()+","
                });
                txt2=txt2.substring(0,txt2.length-1);
                $('#chktext2').val(txt2);
            });
        });
    </script>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $('.chkbox4').click(function(){
                var txt4="";
                $('.chkbox4:checked').each(function(){
                    txt4+=$(this). val()+","
                });
                txt4=txt4.substring(0,txt4.length-1);
                $('#chktext4').val(txt4);
            });
        });
    </script>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.chkbox3').click(function(){
                var txt3="";
                $('.chkbox3:checked').each(function(){
                    txt3+=$(this).val()+","
                });
                txt3=txt3.substring(0,txt3.length-1);
                $('#chktext3').val(txt3);
            });
        });
    </script>
    {% comment %} txt3=txt3.substring(0,txt3.length-1); {% endcomment %}
    
    


    <!-- <link rel="stylesheet" href="postadminlogin.css"> -->
    <title>Prelogin</title>
  </head>
  
  <style>
    .navbar{
    background-color: transparent !important ;
}
.navbar .navbar-nav{
    margin: 0 auto;
   
}
.navbar .nav-link {
    font-size: 22px;
    
    padding-right: 20px;
}
.navbar .navbar-brand{
    /* font-size: 20px !important; */
   font-size: larger;
}
.navbar .nav-item{
    padding-right: 30px;
}

.head{
    padding-top: 8vw;
    font-size: 5vw;
    
}
.form-container{
    background:#fff;
    /* position: absolute; */
    top: 35vh;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px #000;
}
  
  </style>
  <body>
    <div style="background-image: linear-gradient(45deg ,lightblue ,white) ; height: 100vh; padding-bottom: 20px;" class="start">

      <div class="mynav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-3 px-5">
            <div class="container-fluid">
              <a class="navbar-brand" style="font-size: 22px;" href="#">HariOm-Logistic</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>



              
              </div>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  
                </ul>
                <form class="d-flex" action="" method="POST">
                  <a  class="nav-link nav-item" href="/mislogin">Logout</a>
                  
                </form>
              </div>
            </div>
          </nav>


          

          <h2 class="text-center  py-2 mb-3 container px-3" style="background-color:rgb(224, 249, 253); border: 2px solid black; ">Orders : </h2>

          <!---Script for
          <div class="container">
          <label>From Date</label>
          <input type="date" name="" max="" id="fromDate">
          <br><br>
          <label>To Date</label>
          <input type="date" name="" max="" id="toDate">
          </div>
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
          
          
          <div class="my-1">
          <button class="btn btn-warning" class="button1 " ><a href="/mislogin" >&#8592; Back to MIS</a></button></li>

            <table id="table_id" class="table table-hover table-dark table-responsive py-0 px-0">
              <thead>
              <tr>
                <th scope="col" >Status</th>
                {% comment %} <th scope="col">Sign</th>
                <th scope="col">Stamp</th> {% endcomment %}
                <th scope="col">Bill No.</th>
                <th scope="col">Company Name</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Sent from city</th>
                <th scope="col">Docket Number</th>
                <th scope="col">Sent to city</th>
                <th scope="col">Invoice No.</th>
                <th scope="col">No.Of Packages</th>
                <th scope="col">Party Received</th>
                <th scope="col">Total Cost</th>
                {% comment %} <th scope="col">Delivery date</th> {% endcomment %}
                
                
                
              </tr>
            </thead>
            <tbody >
                

                
            
              
                {% for user in admindata %}
                <tr>
              <form method="POST">
              {% csrf_token %}
              
              <td>
              <input type="checkbox"  value="{{user}}" class="chkbox" />Confirm</label>
              <input type="checkbox"  value="{{user}}" class="chkbox2" />Pending</label>
              <input type="checkbox"  value="{{user}}" class="chkbox3" />Cancle</label>
              <input type="checkbox"  value="{{user}}" class="chkbox4" />Delete</label> 
              </td>

                
                

                    {% for row in user.values %}
                    
                    
                        <td>{{row}}</td>
                        
                {% endfor %} 
                
                {% comment %} <td>{{id_status}}</td>             {% endcomment %}

                
                {% endfor %}
                
                 



                  
                  <input placeholder="CONFIRMED...." type="hidden" id="chktext" name="txtt" size="30">
                  <input placeholder="PENDING Number...." type="hidden" id="chktext2" name="txtt2" size="30">
                  <input placeholder="CANCLE.... " type="hidden" id="chktext3" name="txtt3" size="30">
                  <input placeholder="Delete.... " type="hidden" id="chktext4" name="txtt4" size="30">
       
                  <br>         
                  <br> 
                  <div class="center_text">

                  
                  <button type="submit" id="confirmed" value="insertconfirmed" class="btn btn-success btn-lg">Submit</button>       
                  {% comment %} <button type="submit" id="Pending" value="insertPending" class="btn btn-warning btn-lg">Pending</button>       
                  <button type="submit" id="Cancle" value="insertCancle" class="btn btn-danger btn-lg">Cancle</button>  {% endcomment %}
                  </div>
                </form>      

                    
            
            </tbody>
          </table>
          <!--<script>
              $(document).ready( function () {
    
                  $.fn.dataTable.moment( 'MMM D, YYYY' );
                  $.fn.dataTable.moment( 'D-MMM-YY' );
                  $('#table_id').DataTable({
                      
        
                  dom: 'B<"clear">lfrtip',
                  buttons: {
                    name: 'primary',
                    buttons: [ 'copy', 'csv', 'excel', 'pdf' ]
    
                }}
              );
            } );
            </script>-->  
          
        
        
          <!-- Script for Filter Orders 
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
          <script>
            $(document).ready(function() {
                $("#gfg").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
					          $("#geeks tr").filter(function() {
                        $(this).toggle($(this).text()
						            .toLowerCase().indexOf(value) > -1)
                    });  
                });  
            });  
          </script>    -->

         <!-- export try 2  use this for next mis table-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
        <!-- needed to use moment.js for our date sorting-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script> 

        <!-- the second way to do it to integrate our buttons for export-->

        



       


        <!-- export filter date 
        <script type="text/javascript">
          
            var fromDate;
            $('#fromDate').on('change', function() {
              fromDate $(this).val();
              $('#toDate').prop('min', function(){ 
                return fromDate;
              })
            });
            var toDate;
            $('#toDate').on('change', function() {
              fromDate $(this).val();
              $('#fromDate').prop('max', function(){ 
                return toDate;
              })
            }); 
        </script>  

      

          



        <!
        <script>
          var table2excel = new Table2Excel();
    
          document.getElementById('export').addEventListener('click', function() {
            table2excel.export(document.querySelectorAll('table'));
          });
        </>  -->  

          
          <!-- Option 2: Separate Popper and Bootstrap JS -->
          <!--
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
          -->
        </body>
        </html>